html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  user-select: none;
  image-rendering: crisp-edges;
  font-size: 15px;
}

* {
  font-family: "Cantarell", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@font-face {
  font-family: "Cantarell";
  font-style: normal;
  font-weight: 400;
  src: local("Cantarell"), local("Cantarell Regular"), local("Cantarell-Regular"),
    url("./fonts/Cantarell-Regular.ttf") format("truetype");
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #3DDC84;
  border-color:	#3DDC84;
}

.btn-primary:hover {
  color: #3DDC84;
  background-color: #ffffff;
  border-color:	#3DDC84;
}

a {
  color: #337ab7;
}

a:hover {
  color: #286090;
}

.container {
  max-width: 50rem;
}
