[Desktop Entry]
Name=droidian-installer
Comment=Droidian Installer
Exec=droidian-installer
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
