[Desktop Entry]
Name=Droidian Installer
Comment=Droidian Installer
Exec=droidian-installer
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
